<h1>Ghosts</h1>

<table>
<tr><td>ID</td><td>Name</td><td>Description</td><td>ghost_uuid</td></tr>
	<% @ghosts.each do |ghost| %>
		<tr>    
			<td><%= ghost.id %></td>
			<td><%= ghost.title %></td>
			<td><%= ghost.body %></td>
			<td><%= ghost.ghost_uuid %></td>

		</tr>
	<% end %>
</table>
